In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
plt.rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'

In [55]:
df = pd.read_csv('./data/경찰청_범죄자 생활정도, 혼인관계 및 부모관계_20151231.csv', encoding='cp949')
df.head()

,범죄대분류,범죄중분류,생활정도(하류),생활정도(중류),생활정도(상류),생활정도(미상),혼인관계(유배우자),혼인관계(동거),혼인관계(이혼),혼인관계(사별),미혼자부모관계(실(양)부모),미혼자부모관계(계부모),미혼자부모관계(실부계모),미혼자부모관계(실부무모),미혼자부모관계(실모계부),미혼자부모관계(실모무부),미혼자부모관계(계부무모),미혼자부모관계(계모무부),미혼자부모관계(무부모),미상
0,강력범죄,살인기수,236,69,6,78,122,18,59,12,45,0,1,11,0,18,0,0,24,79
1,강력범죄,살인미수등,384,135,5,62,175,27,115,20,105,0,2,7,1,37,0,0,35,62
2,강력범죄,강도,1412,412,20,155,325,38,166,13,843,3,19,101,14,186,3,5,128,155
3,강력범죄,강간,2325,1750,68,1478,964,90,451,43,1845,9,28,162,36,330,3,5,165,1490
4,강력범죄,유사강간,247,178,3,107,96,12,44,3,185,0,5,17,3,36,1,2,25,106

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   범죄대분류            38 non-null     object
 1   범죄중분류            38 non-null     object
 2   생활정도(하류)         38 non-null     int64
 3   생활정도(중류)         38 non-null     int64
 4   생활정도(상류)         38 non-null     int64
 5   생활정도(미상)         38 non-null     int64
 6   혼인관계(유배우자)       38 non-null     int64
 7   혼인관계(동거)         38 non-null     int64
 8   혼인관계(이혼)         38 non-null     int64
 9   혼인관계(사별)         38 non-null     int64
 10  미혼자부모관계(실(양)부모)  38 non-null     int64
 11  미혼자부모관계(계부모)     38 non-null     int64
 12  미혼자부모관계(실부계모)    38 non-null     int64
 13  미혼자부모관계(실부무모)    38 non-null     int64
 14  미혼자부모관계(실모계부)    38 non-null     int64
 15  미혼자부모관계(실모무부)    38 non-null     int64
 16  미혼자부모관계(계부무모)    38 non-null     int64
 17  미혼자부모관계(계모무부)    38 non-null     int64
 18  미혼자부모관계(무부모)     38 non-null     int64
 19  미상               38 non-null     int64
dtypes: int64(18), object(2)
memory usage: 6.1+ KB

In [57]:
df1 = df.copy()
df1.reset_index(inplace=True)

In [58]:
df1.set_index('범죄대분류', inplace=True)
df1.head()

,index,범죄중분류,생활정도(하류),생활정도(중류),생활정도(상류),생활정도(미상),혼인관계(유배우자),혼인관계(동거),혼인관계(이혼),혼인관계(사별),미혼자부모관계(실(양)부모),미혼자부모관계(계부모),미혼자부모관계(실부계모),미혼자부모관계(실부무모),미혼자부모관계(실모계부),미혼자부모관계(실모무부),미혼자부모관계(계부무모),미혼자부모관계(계모무부),미혼자부모관계(무부모),미상
범죄대분류,,,,,,,,,,,,,,,,,,,,
강력범죄,0,살인기수,236,69,6,78,122,18,59,12,45,0,1,11,0,18,0,0,24,79
강력범죄,1,살인미수등,384,135,5,62,175,27,115,20,105,0,2,7,1,37,0,0,35,62
강력범죄,2,강도,1412,412,20,155,325,38,166,13,843,3,19,101,14,186,3,5,128,155
강력범죄,3,강간,2325,1750,68,1478,964,90,451,43,1845,9,28,162,36,330,3,5,165,1490
강력범죄,4,유사강간,247,178,3,107,96,12,44,3,185,0,5,17,3,36,1,2,25,106

In [59]:
df1.drop('index', axis=1, inplace=True)

In [60]:
df1.loc['절도범죄']

범죄중분류               절도범죄
생활정도(하류)           64243
생활정도(중류)           29898
생활정도(상류)             738
생활정도(미상)            8287
혼인관계(유배우자)         25367
혼인관계(동거)            1397
혼인관계(이혼)            8198
혼인관계(사별)            2524
미혼자부모관계(실(양)부모)    39488
미혼자부모관계(계부모)         195
미혼자부모관계(실부계모)        788
미혼자부모관계(실부무모)       4592
미혼자부모관계(실모계부)        570
미혼자부모관계(실모무부)       6440
미혼자부모관계(계부무모)         61
미혼자부모관계(계모무부)         72
미혼자부모관계(무부모)        5134
미상                  8340
Name: 절도범죄, dtype: object

In [77]:
life = ['범죄중분류',  '생활정도(하류)', '생활정도(중류)', '생활정도(상류)', '생활정도(미상)']
marry = ['범죄중분류',  '혼인관계(유배우자)', '혼인관계(동거)', '혼인관계(이혼)', '혼인관계(사별)']
parents = ['범죄중분류',  '미혼자부모관계(실(양)부모)', '미혼자부모관계(계부모)', '미혼자부모관계(실부계모)'
     , '미혼자부모관계(실부무모)', '미혼자부모관계(실모계부)', '미혼자부모관계(실모무부)'
     , '미혼자부모관계(계부무모)', '미혼자부모관계(계모무부)', '미혼자부모관계(무부모)']

### 생활정도, 혼인관계, 부모관계에 따른 범죄비율은 어떠한 범죄가 많은지?

In [78]:
df1.loc['절도범죄', life ]

범죄중분류        절도범죄
생활정도(하류)    64243
생활정도(중류)    29898
생활정도(상류)      738
생활정도(미상)     8287
Name: 절도범죄, dtype: object

In [79]:
df1.loc['폭력범죄', life]

       범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)
범죄대분류
폭력범죄      상해     35833     20727       626      4873
폭력범죄      폭행     60979     35234      1141     94954
폭력범죄   체포 감금       432       278        18       498
폭력범죄      협박      3494      2272        93      3338
폭력범죄   약취 유인       116        42         5        89
폭력범죄   폭력행위등     39148     22299       504     11051
폭력범죄      공갈      1346       698        41       845
폭력범죄      손괴     17294      9434       383      4638

In [80]:
df1.loc['강력범죄', life]

             범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)
범죄대분류
강력범죄          살인기수       236        69         6        78
강력범죄         살인미수등       384       135         5        62
강력범죄            강도      1412       412        20       155
강력범죄            강간      2325      1750        68      1478
강력범죄          유사강간       247       178         3       107
강력범죄          강제추행      6752      5597       249      1890
강력범죄   기타 강간 강제추행등       363       208         6       109
강력범죄            방화      1059       322        10       126

In [85]:
df1_life = df1.loc[:, life]
df1_life

              범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)
범죄대분류
강력범죄           살인기수       236        69         6        78
강력범죄          살인미수등       384       135         5        62
강력범죄             강도      1412       412        20       155
강력범죄             강간      2325      1750        68      1478
강력범죄           유사강간       247       178         3       107
강력범죄           강제추행      6752      5597       249      1890
강력범죄    기타 강간 강제추행등       363       208         6       109
강력범죄             방화      1059       322        10       126
절도범죄           절도범죄     64243     29898       738      8287
폭력범죄             상해     35833     20727       626      4873
폭력범죄             폭행     60979     35234      1141     94954
폭력범죄          체포 감금       432       278        18       498
폭력범죄             협박      3494      2272        93      3338
폭력범죄          약취 유인       116        42         5        89
폭력범죄          폭력행위등     39148     22299       504     11051
폭력범죄             공갈      1346       698        41       845
폭력범죄             손괴     17294      9434       383      4638
지능범죄           직무유기        28       136         4       692
지능범죄           직권남용        11        79         1       496
지능범죄            증수뢰       129       429        57       227
지능범죄             통화        81        23         0       182
지능범죄          문서 인장      5840      3848       166      9168
지능범죄         유가증권인지       105        55         6       233
지능범죄             사기     84091     28513       863    114738
지능범죄             횡령     12564      7018       297     16066
지능범죄             배임      1225      1566       142      5300
풍속범죄          성풍속범죄      5961      4281        96      1579
풍속범죄           도박범죄     18004      9212       215      1735
특별경제범죄       특별경제범죄     41581     18628       683     29464
마약범죄           마약범죄      4508      1569       125       711
보건범죄           보건범죄      9600      6847      1351      2923
환경범죄           환경범죄      1196      1378       185       417
교통범죄           교통범죄    235633    149757      3165    160819
노동범죄           노동범죄      1482       648        36       229
안보범죄           안보범죄        70        71         3        30
선거범죄           선거범죄       269       552        92       208
병역범죄           병역범죄     12282      5104        71       784
기타범죄           기타범죄    108959     70794      3223     58771

In [82]:
df1_life['생활정도'] = df1['생활정도(하류)'] + df1['생활정도(중류)'] + df1['생활정도(상류)'] + df1['생활정도(미상)']
df1_life.head()

       범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)  생활정도
범죄대분류
강력범죄    살인기수       236        69         6        78   389
강력범죄   살인미수등       384       135         5        62   586
강력범죄      강도      1412       412        20       155  1999
강력범죄      강간      2325      1750        68      1478  5621
강력범죄    유사강간       247       178         3       107   535

In [83]:
df1_life.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 강력범죄 to 기타범죄
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   범죄중분류     38 non-null     object
 1   생활정도(하류)  38 non-null     int64
 2   생활정도(중류)  38 non-null     int64
 3   생활정도(상류)  38 non-null     int64
 4   생활정도(미상)  38 non-null     int64
 5   생활정도      38 non-null     int64
dtypes: int64(5), object(1)
memory usage: 3.1+ KB

In [90]:
df1.loc['강력범죄', life]

             범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)
범죄대분류
강력범죄          살인기수       236        69         6        78
강력범죄         살인미수등       384       135         5        62
강력범죄            강도      1412       412        20       155
강력범죄            강간      2325      1750        68      1478
강력범죄          유사강간       247       178         3       107
강력범죄          강제추행      6752      5597       249      1890
강력범죄   기타 강간 강제추행등       363       208         6       109
강력범죄            방화      1059       322        10       126

In [97]:
df1_life.loc['절도범죄', life]

범죄중분류        절도범죄
생활정도(하류)    64243
생활정도(중류)    29898
생활정도(상류)      738
생활정도(미상)     8287
Name: 절도범죄, dtype: object

In [99]:
df1_life.loc['폭력범죄', life]

       범죄중분류  생활정도(하류)  생활정도(중류)  생활정도(상류)  생활정도(미상)
범죄대분류
폭력범죄      상해     35833     20727       626      4873
폭력범죄      폭행     60979     35234      1141     94954
폭력범죄   체포 감금       432       278        18       498
폭력범죄      협박      3494      2272        93      3338
폭력범죄   약취 유인       116        42         5        89
폭력범죄   폭력행위등     39148     22299       504     11051
폭력범죄      공갈      1346       698        41       845
폭력범죄      손괴     17294      9434       383      4638